<!DOCTYPE html>
<html>
<head>
	<title>Rango</title>
</head>
<body>
	<div>
	<a href="{% url 'add_page' category.slug %}">Add a Page</a>		
	{% if category %}
		<h1>{{ category.name }}</h1>
		{% if pages %}
			<ul>
			{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>No pages currently in category.</stong>
		{% endif %}
	{% else %}
		The specified category does not exist!
	{% endif %}

	<a href="/rango/">Back to Index Page</a><br />
	</div>
</body>
</html>